.help {
    &__main {
        padding-top: rem(40);
        padding-bottom: rem(40);
    }

    &__item {
        margin-bottom: rem(60);
    }

    &__ask-col {
        &:not(:last-child) {
            margin-right: rem(20);
        }

        &_main {
            width: rem(170);
        }
    }

    &__ask-text {
        margin-top: 0;
        margin-bottom: rem(15);

        font-size: rem(14);
        font-weight: 300;
        line-height: 18/14+em;
    }
}
