.search-sec {

    &__main {
        padding-top: rem(30);
    }

    &__label {
        margin-top: 0;
        margin-bottom: rem(20);

        color: #535353;
        font-size: rem(18);
        font-weight: 100;
        line-height: 30/18+em;
    }

    &__category {
        margin-bottom: rem(30);
    }
}
