extends ../layouts/default
include ../partials/nav
include ../partials/act


block head
    - var pageTitle = 'Фотографии';
    - var pageName = 'Фотографии';

block content

    +b.SECTION.cabinet_user

        +e.HEADER.header

            .container
            
                include ../partials/cabinet-sidebar2
                
                +e.content-wrapper

                    +e.H2.title Фотографии

        +e.main

            .container

                +e.content-wrapper
                    
                    +e.H3.subtitle Добавить новые фото

                    +b.FORM.add-photo.cabinet__add-photo-sec(name='add-photo' method='post' action='')

                        -
                            var photosList = [
                                'food', 'cats', 'technics'
                            ]

                        +e.UL.list.cabinet__added-photo-list

                            each photo in photosList

                                +e.LI.item-wrapper
                                    +b.user-photo.add-photo__item
                                        +e.img-wrapper
                                            +e.IMG.img.add-photo__img(src='http://loremflickr.com/150/150/' + photo, srcset='http://loremflickr.com/300/300/' + photo + ' 2x')
                                        +e.BUTTON.remove(title='Удалить фотографию') Удалить фотографию

                            +e.item-wrapper
                                +e.LABEL.item.add-photo__upload
                                    +e.INPUT.upload-input(name='photos' type='file' multiple)
                                    +e.SPAN.upload-text Загрузить еще

                        +e.BUTTON.btn.btn.btn_light(type='submit') Опубликовать

                    +b.gallery.cabinet__photos-wrapper

                        -
                            var photos = [
                                { width: 600, height: 300 },
                                { width: 500, height: 450 },
                                { width: 700, height: 600 },
                                { width: 550, height: 550 },
                                { width: 650, height: 550 },
                                { width: 600, height: 750 },
                                { width: 700, height: 650 },
                                { width: 800, height: 600 }
                            ]

                        each photo in photos

                            +e.item
                                +b.user-photo
                                    +e.img-wrapper
                                        +e.IMG.img.gallery__img(src='http://loremflickr.com/' + photo.width + '/' + photo.height + '/',
                                                    srcset = 'http://loremflickr.com/' + photo.width * 2 + '/' + photo.height * 2 + '/ 2x')
                                    +e.BUTTON.remove(title = 'Удалить фотографию') Удалить фотографию
                    
                               
                                    
                    
            


