extends ../layouts/default
include ../partials/fund


block head
    - var pageTitle = 'Фонды';
    - var pageName = 'Фонды';

block content


    +b.HEADER.head-title_nav

        .container

            +e.H1.title_big #{pageTitle}

            +e.FORM.nav

                +e.search

                    +b.search_header

                        +e.LABEL.label Поиск

                            +e.SVG.icon
                                use(xlink:href='i/icons.svg#icon-search')

                            +e.INPUT.input_header-in

                +e.select

                    +b.SELECT.select(name='occasions-type')
                        option(value='default') Выбрать сферу деятельности
                        option(value=0) Одна сфера
                        option(value=1) Вторая сфера
                        option(value=2) Третья сфера


    +b.SECTION.funds-sec

        +e.content

            .container

                +e.item
                    +fund({
                        'medal': 'gold',
                        'title': 'Милосердие',
                        'descr': 'Помощи тяжело больным людям',
                        'text': 'Как отмечает Майкл Мескон, привлечение аудитории продуцирует фирменный стиль. Стимулирование сбыта достижимо в разумные сроки. Портрет потребителя парадоксально продуцирует продвигаемый комплексный анализ ситуации.'
                    })

                +e.item
                    +fund({
                        'medal': 'gold',
                        'title': 'Преданье.ру',
                        'descr': 'Помощь детям, детским домам',
                        'text': ''
                    })
                    
                +e.item
                    +fund({
                        'medal': 'silver',
                        'title': 'Подари жизнь',
                        'descr': 'Помощь детям, детским домам',
                        'text': 'Как отмечает Майкл Мескон, привлечение аудитории продуцирует фирменный стиль. Стимулирование сбыта достижимо в разумные сроки. Портрет потребителя парадоксально продуцирует продвигаемый комплексный анализ ситуации. Согласно предыдущему, сегмент рынка сбалансирован. Стимулирование сбыта достижимо в разумные сроки. Портрет потребителя парадоксально продуцирует продвигаемый комплексный анализ ситуации. Согласно предыдущему, сегмент рынка сбалансирован. '
                    })
                    
                +e.item
                    +fund({
                        'medal': 'silver',
                        'title': 'Наше будущее',
                        'descr': 'Помощи тяжело больным людям',
                        'text': 'Тем не менее, пул лояльных изданий подсознательно программирует поведенческий таргетинг, повышая конкуренцию. Портрет потребителя парадоксально продуцирует продвигаемый комплексный анализ ситуации.'
                    })
                    
                +e.item
                    +fund({
                        'medal': 'silver',
                        'title': 'Линия жизни',
                        'descr': 'Помощь детям, детским домам',
                        'text': '1'
                    })
                    
                +e.item
                    +fund({
                        'medal': 'silver',
                        'title': 'Фонд Михаила Прохорова',
                        'descr': 'Помощи тяжело больным людям',
                        'text': 'Тем не менее, пул лояльных изданий подсознательно программирует поведенческий таргетинг, повышая конкуренцию. Портрет потребителя парадоксально продуцирует продвигаемый комплексный анализ ситуации.'
                    })


        +e.reg-fund

            +b.btn(type='submit') Зарегистрировать фонд


    +delimiter('funds-sec')