extends ../layouts/default

include ../partials/custom-input

block head
    - var pageTitle = 'Сделать пожертвование';

block content

    +b.donation_thanks
    
        +e.complete-wrapper
            +e.IMG.complete(src='i/complete.png' alt='Сделано')
            
        +e.thanks
            | Спасибо за пожертвование
            
        +e.P.label
            | Таргетирование усиливает показ баннера. VIP-мероприятие транслирует SWOT-анализ. Разработка медиаплана, 
            |  вопреки мнению П.Друкера, отражает потребительский рынок. Потребление, суммируя приведенные примеры, 
            |  амбивалентно. Привлечение аудитории, согласно Ф.Котлеру, нетривиально. Стимулирование сбыта, следовательно, 
            |  реально масштабирует креатив.