extends ../layouts/default


block head
    - var pageTitle = 'Партнеры';
    - var pageName = 'Партнеры';

block content

    +b.HEADER.head-title

        .container

            +e.H1.title_big #{pageTitle}

    +b.SECTION.partners_page

        .container

            +e.content

                h4.partners-page-title Благотворительная деятельность в России в наши дни еще слабо развита. Мы подаём пример другим компаниям и организациям. Мы воспитываем в людях чувства ответственности, сострадания и отзывчивости. Добросердечие и человеколюбие должны восторжествовать в современном мире!
                
                .partners-box
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-1.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Презентация, суммируя приведенные примеры, индуцирует product placement. Выставочный стенд одновременно 77gpt 1фицирует сублимированный отраслевой стандарт.
                                a.partner-item__link(href='#') www.website.ru
                                
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-2.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Стиль менеджмента абстрактен. Лидерство в продажах поразительно. Сегментация рынка очевидна не для всех. До недавнего времени считалось, что рыночная ситуация индуктивно усиливает продвигаемый рекламный блок.
                                a.partner-item__link(href='#') www.website.ru
                                
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-3.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Отмечает Майкл Мескон, конвесия покупателя неестественно переворачивает департамент маркетинга и продаж, невзирая на действия конкурентов.	
                                a.partner-item__link(href='#') www.website.ru
                                
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-4.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Мало текста
                                a.partner-item__link(href='#') www.website.ru
                    
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-5.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Продуктовый ассортимент экономит опрос. Воздействие на потребителя недостижимо. Презентационный материал без оглядки на авторитеты непосредственно консолидирует стратегический маркетинг.
                                a.partner-item__link(href='#') www.website.ru
                                
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-6.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Презентация, суммируя приведенные примеры, индуцирует product placement. Зыставочный стенд одновременно специфицирует сублимированный отраслевой стандарт.
                                a.partner-item__link(href='#') www.website.ru
                                
                    .partner-item
                        .partner-item__content
                            .partner-item__left-col
                                .partner-item__img-wrapper
                                    img.partner-item__img(src='i/fonds-7.png' alt)
                            .partner-item__right-col
                                p.partner-item__description Как отмечает Майкл Мескон, конвесия покупателя неестественно переворачивает департамент маркетинга и продаж, невзирая на действия конкурентов.
                                a.partner-item__link(href='#') www.website.ru
                            
                    
            
               