extends ../layouts/default


block head
    - var pageTitle = 'Текстовая страница';
    - var pageName = 'Текстовая страница';

block content

    +b.HEADER.head-title

        .container

            +e.H1.title_big #{pageTitle}

    +b.SECTION.textpage_page

        .container

            +e.content

                h4
                    | Благотворительная деятельность в России в наши дни еще слабо развита. Мы подаём пример другим компаниям и организациям. Мы воспитываем в людях чувства ответственности, сострадания и отзывчивости. Добросердечие и человеколюбие должны восторжествовать в современном мире! 
            
                p
                    | Благотворительная деятельность в России в наши дни еще слабо развита. Мы подаём пример другим компаниям и организациям. Мы воспитываем в людях чувства ответственности, сострадания и отзывчивости. Добросердечие и человеколюбие должны восторжествовать в современном мире! 

                p
                    a(href='jv0') www.website.ru

                h2 Список:

                ul

                    li
                        | Благотворительная деятельность в России 
                            
                    li
                        | В наши дни еще слабо развита. 
                            
                    li
                        | Мы подаём пример другим компаниям и организациям. 
                            
                    li
                        | Мы воспитываем в людях чувства ответственности, сострадания и отзывчивости. 
                            
                    li
                        | Добросердечие и человеколюбие должны восторжествовать в современном мире! 


                p

                    img(src='http://loremflickr.com/1000/500/city' srcset='http://loremflickr.com/2000/1000/city 2x')

                p.color-grey
                    | Благотворительная деятельность в России в наши дни еще слабо развита. 



                h3 Вставка видео-роликов

                iframe(width="640" height="360" src="https://www.youtube.com/embed/x1fe8-Qli9E" frameborder="0" allowfullscreen="true") 



    +delimiter('textpage')