.arrow-link {
    position: relative;

    padding-left: rem(20);

    font-size: rem(12);
    line-height: 15/12+em;
    font-weight: 300;
    text-decoration: none;
    color: #000;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: rem(15);
        height: rem(15);
        border-left: 3px solid #979797;
        border-top: 3px solid #979797;

        transform: rotate(-52deg) skewX(-15deg);
    }

    &_light {
        color: rgba(255, 255, 255, .5);

        &::before {
            border-color: #fff;
        }
    }
}
