.count {
    display: inline-block;
    min-width: rem(22);
    height: rem(22);

    font-weight: 300;
    font-size: rem(13);
    line-height: rem(22);
    font-family: $headingFont;
    letter-spacing: -.07px;
    color: #fff;
    vertical-align: middle;
    text-align: center;

    background-color: #1f9b7f;
    border-radius: 5px;
} 