.tiling-inputs {
    margin-left: 1px;
    margin-top: 1px;

    font-size: 0;

    &_items_2 {
        .tiling-inputs__item {
            width: 50%;
        }
    }

    &_items_3 {
        .tiling-inputs__item {
            width: 33.33%;
        }
    }
}
