//===========================================================================
// LIVE-SEC
//===========================================================================

.live-sec {
    &__loading {
        margin-top: rem(32);
        margin-bottom: rem(70);
        
        &-button {
            text-align: center;
            color: black;
        }
    }
}