$color-1: #50e3c2;
$color-2: #1f9b7f;
$color-3: #f8e71c;
$color-4: #4d5a66;

$mainFont: 'vw_text', Arial, sans-serif;
$headingFont: 'vw_headline', Arial, sans-serif;

$containerPadding: 20px;
