.dash {
    &__wreath-wrapper {
        padding: rem(8) 0 rem(41);
        text-align: center;

        &_border {
            border-bottom: 1px solid #979797;
        }
    }

    &__wreath {
        display: inline-block;
        vertical-align: top;
        margin: 0 rem(52);

        @media (max-width: 1200px) {
            margin: 0 rem(36);
        }
    }
}