extends ../layouts/default

block head
    - var pageTitle = 'Ответы на часто задаваемые вопросы';

block content

    +b.SECTION.help

        +b.HEADER.head-title

            .container

                +e.H1.title Помощь

        +e.main

            .container

                +e.UL.list.list_vertical

                    -
                        var questions = [
                            'Поисковая реклама, в рамках сегодняшних воззрений, спонтанно стабилизирует социометрический имидж предприятия.',
                            'Косвенная реклама притягивает креативный нишевый проект.',
                            'Визуализация концепии детерминирует институциональный ребрендинг.',
                            'Инвестиция синхронизирует продвигаемый рекламный макет, осознав маркетинг как часть производства.',
                            'Принцип восприятия нейтрализует медиамикс, осознав маркетинг как часть производства.',
                            'Стимулирование сбыта, следовательно, масштабирует культурный пак-шот.',
                            'До недавнего времени считалось, что идеология выстраивания',
                            'Отраслевой стандарт тормозит баинг и селлинг.',
                            'Стоит отметить, что потребительская база выражена'
                        ];

                    each question, ind in questions

                        +e.item.list__item

                            +b.question.js-toggle-wrapper(id='question-#{ind}')

                                +e.toggle
                                    +b.I.toggle.js-toggle-btn

                                +e.body
                                    +e.quest.js-toggle-btn
                                        +b.link-dashed.question__link(href=jv0)= question
                                    +e.answer
                                        | Стратегический маркетинг, отбрасывая подробности, искажает ролевой анализ зарубежного опыта.
                                        |  CTR транслирует медийный канал, повышая конкуренцию. Точечное воздействие консолидирует
                                        |  показ баннера.

                .columns

                    +e.ask-col.columns__col
                        +b.quest-mark ?

                    +e.ask-col_main.columns__col

                        +e.P.ask-text
                            | Если вы не нашли нужного ответа, нажмите на кнопку:

                        +b.share-btn_big._wide(href=jv0) Задать вопрос


