extends ../layouts/default

block head
    - var pageTitle = 'Текстовая страница';

block content

    +b.SECTION.content
        +b.HEADER.head-title
            .container
                h1 Текстовая страница
        .container
            br
            br
            p.content__big-text
                | Благотворительная деятельность в России в наши дни еще слабо развита. Мы подаём пример другим
                |  компаниям и организациям. Мы воспитываем в людях чувства ответственности, сострадания и
                |  отзывчивости. Добросердечие и человеколюбие должны восторжествовать в современном мире!

            p
                | Благотворительная деятельность в России в наши дни еще слабо развита. Мы подаём пример другим
                |  компаниям и организациям. Мы воспитываем в людях чувства ответственности, сострадания и
                |  отзывчивости. Добросердечие и человеколюбие должны восторжествовать в современном мире!
                br
                br
                a(href=jv0) www.website.ru

            h2 Список

            ul
                -
                    var items = [
                        'Благотворительная деятельность в России',
                        'В наши дни еще слабо развита.',
                        'Мы подаём пример другим компаниям и организациям.',
                        'Мы воспитываем в людях чувства ответственности, сострадания и отзывчивости.',
                        'Добросердечие и человеколюбие должны восторжествовать в современном мире!'
                    ]

                each item in items
                    li= item

            br
            br

            img(src='http://loremflickr.com/330/170?random=1' srcset='http://loremflickr.com/660/340?random=1 2x' alt='')
            p.content__img-desc
                | Благотворительная деятельность в России в наши дни еще слабо развита.

            br
            br

            h3 Вставка видео-роликов

            iframe(height="185" src="https://www.youtube.com/embed/x1fe8-Qli9E" frameborder="0" allowfullscreen)

            br
            br




