+b.ASIDE.sidebar.cabinet__sidebar

    h2.hidden-text Сайдбар

    .cabinet__ava-wrapper

        img.cabinet__ava(src='http://stevensegallery.com/120/120' srcset='http://stevensegallery.com/240/240 2x')

    .cabinet__name
        | Vladimir Dolgiy-Rapoport

    +nav({
        'Поступки': jv0,
        'Проекты': jv0,
        'Статистика': jv0,
        'Фотографии': jv0,
        'Настройки': jv0,
        'Управление отчетами': jv0,
        'Новости': jv0,
        'Добавить новость': jv0,
        'Описание документов': jv0
    })(nav='_vertical sidebar__menu')


