div.box-modal-wrapper

    +b.box-modal#umodal

        +e.header_small-left

            +e.H2.title Заголовок

            +e.close.arcticmodal-close

        +e.content

            +e.content-item

                +e.text

                    +e.P.text-par Текст