mixin question(data)

    +b.question.js-toggle-wrapper&attributes(attributes)

        +e.toggle

            +b.I.toggle.js-toggle-btn

        +e.body

            +e.quest.js-toggle-btn

                +b.link-dashed_quest(href=jv0)= data.q

            +e.answer
                | Стратегический маркетинг, отбрасывая подробности, искажает ролевой анализ зарубежного опыта. CTR транслирует медийный канал, повышая конкуренцию. Точечное воздействие консолидирует показ баннера.