// build:css css/vendor.min.css
// bower:css
link(rel='stylesheet', href='../bower_components/jquery-form-styler/jquery.formstyler.css')
link(rel='stylesheet', href='../bower_components/pickadate/lib/themes/default.css')
link(rel='stylesheet', href='../bower_components/pickadate/lib/themes/default.date.css')
link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
link(rel='stylesheet', href='../bower_components/qtip2/jquery.qtip.css')
link(rel='stylesheet', href='../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
link(rel='stylesheet', href='../bower_components/arcticmodalbw/arcticmodal/jquery.arcticmodal.css')
link(rel='stylesheet', href='../bower_components/select2/dist/css/select2.css')
// endbower
// endbuild

// build:css css/styles.min.css
link(rel='stylesheet', href='css/styles.css')
// endbuild

