+b.HEADER.head-title

    .container

        nav.cabinet__nav

            h2.hidden-text Навигация по личному кабинету

            ul.cabinet__nav-menu

                - var items = ['Новости', 'Ваши поступки', 'Статистика', 'Настройки'];

                each item in items

                    if pageName === item

                        li.cabinet__nav-item.cabinet__nav-item_active
                            span.cabinet__nav-link= item

                    else

                        li.cabinet__nav-item
                            a.cabinet__nav-link(href=jv0)= item
