// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery-form-styler/jquery.formstyler.min.js')
script(src='../bower_components/jquery-cookie/jquery.cookie.js')
script(src='../bower_components/svg4everybody/dist/svg4everybody.js')
script(src='../bower_components/svg4everybody/dist/svg4everybody.legacy.js')
script(src='../bower_components/slick-carousel/slick/slick.js')
script(src='../bower_components/jquery.steps/build/jquery.steps.js')
script(src='../bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
script(src='../bower_components/remodal/dist/remodal.js')
script(src='../bower_components/picturefill/dist/picturefill.js')
script(src='../bower_components/jquery-animateNumber/jquery.animateNumber.js')
script(src='../bower_components/pickadate/lib/picker.js')
script(src='../bower_components/pickadate/lib/picker.date.js')
script(src='../bower_components/viewport-units-buggyfill/viewport-units-buggyfill.js')
script(src='../bower_components/viewport-units-buggyfill/viewport-units-buggyfill.hacks.js')
// endbower
// endbuild

// build:js js/scripts.min.js
script(src='js/scripts.js')
// endbuild

