// build:css css/vendor.min.css
// bower:css
link(rel='stylesheet', href='../bower_components/jquery-form-styler/jquery.formstyler.css')
link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick-theme.css')
link(rel='stylesheet', href='../bower_components/remodal/dist/remodal.css')
link(rel='stylesheet', href='../bower_components/remodal/dist/remodal-default-theme.css')
link(rel='stylesheet', href='../bower_components/pickadate/lib/themes/default.css')
link(rel='stylesheet', href='../bower_components/pickadate/lib/themes/default.date.css')
// endbower
// endbuild

// build:css css/styles.min.css
link(rel='stylesheet', href='css/styles.css')
// endbuild

